
/* General */

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    font-weight: 700;
    padding: 8px 32px;
}

/* Header */

.header * {
    display: flex;

}

.header {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 230px;
    justify-content: space-between;
    align-items: center;
    row-gap: 0;
}

.header .container {
    flex: 1 1 70vw;
    justify-content: space-between;
}

.header h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

.header-links a, .header p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-links {
    gap: 25px;
}

.header .hero {
    width: 42%;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 0;
}

.header h1 {
    color: #f9faf8;
    font-size: 48px;
    margin: 0;
}

.header .image {
    height: 220px;
    width: 50%;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Information section */

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos .image {
    height: 170px;
    border: 4px solid #3882f6;
    border-radius: 17px;
}

.infos h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin: 40px;
    padding: 0;
}

.infos .container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 120px;
}

.card {
    color: #555;
    font-size: 18px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 10px;
}

/* Quote section */

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote .content {
    width: 825px;
    display: flex;
    flex-direction: column;
}

.quote .author {
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 38px;
}

/* Action */

.action, .action * {
    display: flex;
}

.action {
    height: 350px;
    justify-content: center;
    align-items: center;
}

.action .content {
    margin-top: 10px;
    padding: 0 110px;
    background-color: #3882f6;
    border-radius: 6px;
    color: #f9faf8;
    height: 40%;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.action .text * {
    /* reset */
    margin: 0;
    padding: 0;
}

.action .text {
    flex-direction: column;
    justify-content: center;
}

.action button {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 6px;
    border: 3px solid #f9faf8;
    width: 140px;
}

/* Footer */

.footer {
    background-color: #1f2937;
    color:#f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 18px;
}