
/* General */

body {
    font-family: Roboto, sans-serif;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    font-weight: 700;
    padding: 8px 32px;
}

/* Header */

.header {
    background-color: #1f2937;
}

.header h2 {
    font-size: 24px;
    font-weight: bold;
    display: inline;
    color: #f9faf8;
    font-size: 24px;
}

.header-links a, .header p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header h1 {
    color: #f9faf8;
    font-size: 48px;
}

.header .image {
    height: 200px;
    width: 500px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Information section */

.infos .image {
    height: 100px;
    width: 100px;
    border: 3px solid blue;
    border-radius: 9px;
}

.infos h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.card {
    color: #1f2937;
    font-size: 18px;
}

/* Quote section */

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
}

.quote .author {
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
}