body {
    font-family: Roboto, sans-serif;
}

/* Header */

.header {
    font-size: 24px;
    font-weight: bold;
}

.header-links a {
    text-decoration: none;
    font-weight: 400;
}

/* Hero section */

.image {
    height: 200px;
    width: 500px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}